<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/web-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header" id="header">
        <nav class="nav navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand">Авто Обвес</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#header">Главная</a></li>
                            <li><a href="#feature">Наши работы</a></li>
                            <li><a href="#portfolio">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container text-center">
            <div class="wrapper-header wow fadeInUp delay-05s">
                <h3 class="title">Авто Обвес</h3>
                <h1>Изготовление и ремонт эксклюзивного обвеса из нержавеющей стали</h1>
            </div>
        </div>
    </header>

    <section class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-02s">
                    <div class="benefits-icon">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <div class="benefits-text">
                        <h3 class="txt-tl">Easy to Learn and Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-02s">
                    <div class="benefits-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="benefits-text">
                        <h3 class="txt-tl">Bootstrap 3.3.2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-04s">
                    <div class="benefits-icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="benefits-text">
                        <h3 class="txt-tl">Responsive Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-04s">
                    <div class="benefits-icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="benefits-text">
                        <h3 class="txt-tl">No Coding, No Shortcodes</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="benefits-icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="benefits-text">
                        <h3 class="txt-tl">High Coversion</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="benefits-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="benefits-text">
                        <h3 class="txt-tl">Save Tons of Time</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="scroller" >
        <div class="container">
            <div class="row wow fadeInUp delay-08s">
                <div class="col-md-8">
                    <div class="cta-txt">
                        <h3>РАБОТА АРАХРА</h3>
                        <p>Каждая работа выполненная нами - уникальная</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <a href="#" class="btn btn-submit">Связаться с нами</a>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="portfolio-box design">
                        <img src="img/port01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="portfolio-box design">
                        <img src="img/port02.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="portfolio-box design">
                        <img src="img/port03.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="portfolio-box design">
                        <img src="img/port04.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="portfolio-box design">
                        <img src="img/port05.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                    <div class="portfolio-box design">
                        <img src="img/port06.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>



    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    © Bethany Theme - All rights reserved
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">Bootstrap Themes</a>
                    </div>
                </div>
                <div class="col-sm-5 footer-social">
                    <div class="pull-right hidden-xs hidden-sm">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!---->
    <!--contact ends-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>