
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome">
    <div class="container text-center">
        <div class="text-welcome wow fadeInUp delay-05s">
            <h3 class="title">Авто Обвес</h3>
            <h1>Изготовление и ремонт эксклюзивного обвеса из нержавеющей стали</h1>
        </div>
    </div>
</div>


<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-02s">
                <img class="benefits-icon" src="~/Images/Infrastructure/design.png" />

                <div class="benefits-text">
                    <h1 class="txt-tl">Дизайн</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-04s">
                <img class="benefits-icon" src="~/Images/Infrastructure/material.png" />

                <div class="benefits-text">
                    <h1 class="txt-tl">Материал</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <img class="benefits-icon" src="~/Images/Infrastructure/setup.png" />
                <div class="benefits-text">
                    <h1 class="txt-tl">Установка</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <img class="benefits-icon" src="~/Images/Infrastructure/repair.png" />

                <div class="benefits-text">
                    <h1 class="txt-tl">Ремонт</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scroller">
    <div class="container">
        <div class="row wow fadeInUp delay-08s">
            <div class="col-md-8">
                <div class="cta-txt">
                    <h3>РАБОТА АРАХРА</h3>
                    <p>Каждая работа выполненная нами - уникальная</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h4>@Html.ActionLink("Перейти к каталогу работ", "Categories", new { }, new { @class = "ghost-button" })</h4>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port01.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port02.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port03.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port04.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port05.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port06.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>