
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="welcome">
    <div class="container text-center">
        <div class="text-welcome wow fadeInUp delay-05s">
            <h3 class="title">Авто Обвес</h3>
            <h1>Изготовление и ремонт эксклюзивного обвеса из нержавеющей стали</h1>
        </div>
    </div>
</div>


<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-02s">
                <div class="benefits-icon">
                    <i class="fa fa-paint-brush"></i>
                </div>
                <div class="benefits-text">
                    <h1 class="txt-tl">Уникальный дизайн</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-02s">
                <div class="benefits-icon">
                    <i class="fa fa-cogs"></i>
                </div>
                <div class="benefits-text">
                    <h1 class="txt-tl">Высокое качество</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-04s">
                <div class="benefits-icon">
                    <i class="fa fa-mobile"></i>
                </div>
                <div class="benefits-text">
                    <h1 class="txt-tl">Индивидуальный подход</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-04s">
                <div class="benefits-icon">
                    <i class="fa fa-desktop"></i>
                </div>
                <div class="benefits-text">
                    <h1 class="txt-tl">Подбор материала</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="benefits-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="benefits-text">
                    <h1 class="txt-tl">Быстрая установка</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="benefits-icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="benefits-text">
                    <h1 class="txt-tl">Гарантия качества</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scroller">
    <div class="container">
        <div class="row wow fadeInUp delay-08s">
            <div class="col-md-8">
                <div class="cta-txt">
                    <h3>РАБОТА АРАХРА</h3>
                    <p>Каждая работа выполненная нами - уникальная</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-submit">Связаться с нами</a>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port01.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port02.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port03.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port04.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port05.jpg" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 wow fadeInRight delay-06s">
                <div class="portfolio-box">
                    <img src="../img/port06.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>