
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="welcome">
    <div class="container text-center">
        <div class="text-welcome wow fadeInUp delay-05s">
            <h3 class="title">Авто Обвес</h3>
            <h1>Изготовление и ремонт эксклюзивного обвеса из нержавеющей стали</h1>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInLeft delay-05s">
                <h1 class="txt-tl">Дизайн</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/design.png" />
                    </div>
                    <div class="benefit-right">
                        <p>Изготавливая обвес и другие предметы из нержавеющей стали, мы учитываем индивидуальные пожелания каждого клиента, что позволяет нам создавать поистине эксклюзивные работы, которым не существует аналогов. Все, начиная от подбора материала и заканчивая местом крепления изделия зависит от исключительно от Вас и Ваших предпочтений. Цены и сроки выполнения, соответственно, также обосновываются Вашим выбором</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-05s">
                <h1 class="txt-tl">Материал</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/material.png" />
                    </div>
                    <div class="benefit-right">
                        <p>В нашем деле прочность и долголетие материала имеет такую же важную роль, как и добросовестность при работе с ним. Поэтому, работая с такими именитыми производителями нержавеющей стали как НАЗВАНИЕ, НАЗВАНИЕ и НАЗВАНИЕ, мы гарантируем первоклассное качество наших изделий. Если же цена на изделие Вам не подходит, мы всегда можем изменить особенности Вашего заказа, при этом сохраняя его исключительное качество</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInLeft delay-05s">
                <h1 class="txt-tl">Установка</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/setup.png" />
                    </div>
                    <div class="benefit-right">
                        <p>После покупки обвеса из нержавеющей стали, на плечи покупателя ложится задача по его установке. Однако, без необходимого оборудования или опыта, эта задача может оказаться не из простых. Однако, работая с нами Вам не нужно заботиться о монтаже обвеса на Ваш автомобиль. Будь то наше изделие, или же работа, сделанная иным производителем, Вы всегда можете обратиться к нам и рассчитывать на нашу помощь</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-05s">
                <h1 class="txt-tl">Ремонт</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/repair.png" />
                    </div>
                    <div class="benefit-right">
                        <p>Исходя из сегодняшних реалий, без правильного ухода, даже самой дорогой и износоустойчивой детали из нержавеющей стали рано или поздно может потребоваться замена. Тем не менее, не спешите выбрасывать Ваш обвес, так как в большинстве случаев его можно починить. Обладая необходимыми технологиями и навыками, мы всегда готовы прийти к Вам на помощь и сэкономить Ваши деньги и время</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scroller">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="scroller-text">
                    <h3>Портфолио</h3>
                    <h1>Ознакомиться с примерами работ вы можете в нашем каталоге. Там Вы найдете кенгурятники, окантовки, задние защиты, пороги, дуги пикапов, а так же прочие изделия из нержавеющей стали</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-center">
                <h4>@Html.ActionLink("Перейти к каталогу работ", "Categories", new { }, new { @class = "ghost-button" })</h4>
            </div>
        </div>
    </div>
</section>