
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="welcome">
    <div class="container text-center">
        <div class="text-welcome wow fadeInUp delay-05s">
            <h3 class="title">Авто Обвес</h3>
            <h1>Изготовление и ремонт эксклюзивного обвеса из нержавеющей стали</h1>
        </div>
    </div>
</section>

<section class="benefits">
    <div class="container">
        <div class="row">
            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInLeft delay-05s">
                <h1 class="txt-tl">Дизайн</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/design.png" />
                    </div>
                    <div class="benefit-right">
                        <p>Эксклюзивный дизайн – это то, что подчеркивает Вашу индивидуальность и выделяет Ваше авто из общей массы. Уникальность наших изделий заключается в том, что мы делаем не то, что удобно нам, а то, чего хотите Вы сами. Вы можете создать дизайн вместе с нами, либо же подобрать его самостоятельно</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-05s">
                <h1 class="txt-tl">Материал</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/material.png" />
                    </div>
                    <div class="benefit-right">
                        <p>В изделиях из нержавеющей стали важную роль играет качество сырья, влияющее как на их внешний вид, так и на износоустойчивость. Поэтому, работая с хорошим, сертифицированным материалом, не подвергающимся коррозии (пищевая нержавейка), мы гарантируем высокое качество и долговечность наших изделий</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInLeft delay-05s">
                <h1 class="txt-tl">Установка</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/setup.png" />
                    </div>
                    <div class="benefit-right">
                        <p>После покупки обвеса из нержавеющей стали, на плечи покупателя ложится задача по его установке. Однако, без надлежащих знаний, оборудования и опыта, эта задача может оказаться не из простых. Работая с нами, Вам не нужно заботиться о монтаже обвеса на Ваш автомобиль будь то наше изделие, или же работа, сделанная иным производителем</p>
                    </div>
                </div>
            </div>

            <div class="benefits-wrapper col-md-6 col-xs-12 wow fadeInRight delay-05s">
                <h1 class="txt-tl">Ремонт</h1>
                <div class="benefit">
                    <div class="benefit-left">
                        <img src="~/Images/Infrastructure/repair.png" />
                    </div>
                    <div class="benefit-right">
                        <p>В случае деформации обвеса, не спешите выбрасывать его на металлолом. Почти всегда, обладая необходимыми технологиями и навыками, его можно восстановить. Мы готовы прийти к Вам на помощь в любое время, сэкономив Ваши деньги и время</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scroller">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-center">
                <div class="scroller-text">
                    <h3>Портфолио</h3>
                    <h1>Ознакомиться с примерами работ вы можете в нашем каталоге. Там Вы найдете кенгурятники, окантовки, задние защиты, пороги, дуги пикапов, а так же прочие изделия из нержавеющей стали</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 text-center">
                <h4>@Html.ActionLink("Перейти к каталогу работ", "Categories", new { }, new { @class = "ghost-button" })</h4>
            </div>
        </div>
    </div>
</section>